* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --h1: #ffffff;
  --h3h4h5: #e9ddcd;
  --pdark: #9eb6ba;
  --pligth: #193c3d;
}

html {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}

body {
  background: #1b2c37;
  width: 100vw;
  max-width: 1440px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Fira sans', sans-serif;
}
h1 {
  color: var(--h1);
}
h3,
h4,
h5 {
  color: var(--h3h4h5);
}
p {
  color: var(--pdark);
}

.apperal-text-second p,
.name-content p {
  color: var(--pligth);
}

.container-with-photo {
  display: flex;
}

.name-content {
  background: #4d7f65;
  color: #e1d9c9;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex: 1;
}
.name-content h1 {
  padding: 35% 10% 0 10%;
}
.name-content p {
  padding: 5% 10% 15% 10%;
}

.arrow-box {
  background: #e9ddcd;
  color: black;
  width: 15rem;
  padding: 0.5rem;
}

.photo-content {
  flex: 1;
}

.main-photo {
  width: 100%;
}

.services {
  display: flex;
  flex-direction: column;
  color: #e1d9c9;
  margin: 2rem;
}

.services-first-block {
  text-align: center;
  margin-bottom: 3rem;
}

.services-first-block h5,
.about-text h5,
.appeal-text-first h5,
.recommendations-first-block h5 {
  margin-bottom: 2rem;
}

.services-second-block {
  display: flex;
  align-items: center;
}
.services-second-block h3 {
  margin: 1rem 0 1rem 0;
}

.ser-sec-bl-one,
.ser-sec-bl-two,
.ser-sec-bl-three {
  flex: 1;
}

.ser-sec-bl-one p,
.ser-sec-bl-two p,
.ser-sec-bl-three p {
  text-align: justify;
  width: 90%;
}

.services-group-icons {
  width: 50px;
}

.about-me {
  display: flex;
  margin: 5rem 2rem 0 2rem;
}

.about-photo-container {
  flex: 1;
  margin-bottom: 2rem;
  text-align: center;
}

.about-photo {
  border: 10px #e1d9c9 solid;
  width: 80%;
}

.about-text {
  flex: 1;
  text-align: center;
}

.text {
  margin-top: 2rem;
  text-align: justify;
}

.about-numbers-container {
  display: flex;
}
.numbers {
  flex: 1;
  margin: 0 1rem 0 1rem;
}

hr {
  width: 40px;
  margin: 1rem 0 1rem 0;
  border: 1px solid #4d7f65;
}

.appeal-container {
  display: flex;
  background: #4d7f65;

  margin-top: 3rem;
}
.appeal-photo {
  flex: 1;
}
.appeal-text-block {
  flex: 1;
}
.appeal-text-first {
  margin: 2rem 3rem 1rem 3rem;
  text-align: center;
}
.apperal-text-second {
  margin: 1rem 3rem 1rem 3rem;
  text-align: justify;
}
.appeal-img {
  width: 100%;
}
.recommendations-first-block {
  text-align: center;
  margin: 2rem 3rem 1rem 3rem;
}
.recommendations-second-block {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.recomendation-one,
.recomendation-two {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 280px;
  box-shadow: 0 0 10px rgba(112, 112, 112, 0.3);
  transition: box-shadow 0.3s ease-in-out;
  background: #4d7f65;
  padding-bottom: 1rem;
}

.recomendation-one h4,
.recomendation-two h4 {
  margin-bottom: 1rem;
}
.recomendation-one:hover,
.recomendation-two:hover {
  box-shadow: 0 0 35px rgba(125, 125, 125, 0.5);
}
.recom-images-thumbnail {
  width: 40%;
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}
.modal-content {
  display: block;
  margin: auto;
  max-width: 90%;
  max-height: 90%;
}
.close {
  color: #fff;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
  cursor: pointer;
}
.close:hover,
.close:focus {
  color: #ccc;
  text-decoration: none;
  cursor: pointer;
}
@media screen and (max-width: 1200px) {
  .wrapper {
    width: 100vw;
  }
}

@media screen and (max-width: 991px) {
  .wrapper {
    width: 100vw;
  }
}

@media screen and (max-width: 767px) {
  .wrapper {
    width: 100vw;
  }
  .container-with-photo,
  .services-second-block,
  .about-me,
  .about-numbers-container,
  .appeal-container,
  .recommendations-second-block {
    flex-direction: column;
  }

  .name-content {
    padding-bottom: 5rem;
  }
  .services-first-block {
    margin-bottom: 1rem;
  }
  .ser-sec-bl-one,
  .ser-sec-bl-two,
  .ser-sec-bl-three {
    text-align: center;
    width: 80%;
    margin-top: 2rem;
  }
  .about-me,
  .appeal-container {
    text-align: center;
  }

  .numbers {
    text-align: center;
    margin-top: 3rem;
  }

  hr {
    margin-left: 35%;
    width: 100px;
  }
}
